@import '../App.scss';
$breakpoint-medium: 1025px;
$breakpoint-large: 1250px;
$breakpoint-small: 768px;

.user-details-header {
  height: 265px;
  background: #512689;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-details-header__container {
  width: 950px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.user-info {
  position: relative;
  height: 187px;
  display: flex;
  margin-right: auto;
  align-items: center;
}

.user-avatar__icon {
  width: 187px;
  height: 187px;
  border-radius: 100px;
}

.user-info-data {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.user-info-name {
  @include H1;
  color: #ffffff;
  margin: 0;
}

.user-info-description {
  @include H3;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0;
}

.back-button,
.logout-button {
  position: absolute;
  top: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  @include Text;
}
.back-button {
  left: 80px;
}

.container-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 950px;
  margin: auto;
  margin-top: 50px;
  overflow-x: auto;
}

.user-details-content {
  width: 630px;
}
.user-details-text {
  margin: 0;
  margin-bottom: 10px;
  @include Text;
}
.user-details-contacts {
  width: 188px;
}

.user-details-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user-details-contact:last-child {
  margin-bottom: 0;
}

.contact-icon {
  width: 24px;
  height: 24px;
}

.contact-text {
  margin: 0;
  margin-left: 8px;
  @include Text;
}
@media screen and (max-width: $breakpoint-large) {
  .user-details-header__container {
    width: 100vw;
  }
  .user-info {
    margin: auto;
    justify-content: center;
  }
}
@media screen and (max-width: $breakpoint-medium) {
  .container-main {
    max-width: 100vw;
    justify-content: center;
    gap: 40px;
    margin: 20px;
  }

  .user-details-content {
    order: 2;
    width: 90%;
  }

  .user-info-name {
    @include H4;
    margin-top: 20px;
  }
  .user-info-description {
    @include H2;
  }

  .user-avatar__icon {
    margin-top: 20px;
  }
}
@media screen and (max-width: $breakpoint-small) {
  .user-details-header {
    height: 412px;
  }
  .user-info {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .user-avatar {
    order: 2;
  }
  .user-info-data {
    margin: auto;
  }
  .user-info-name {
    margin-bottom: 16px;
  }

  .user-info-description {
    margin: auto;
    order: 2;
  }

  .user-avatar__icon {
    margin-top: 16px;
  }

  .back-button,
  .logout-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: transparent;
    top: 25px;
  }

  .back-button {
    padding: 0;
    width: 7px;
    height: 14px;
    left: 33px;
    background-image: url('../assets/button_back.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .logout-button {
    width: 18px;
    height: 18px;
    right: 27px;

    background-image: url('../assets/button_exit.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .container-main {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 16px;
  }

  .user-details-contacts {
    order: -1;
    width: 100%;
    margin-top: 16px;
  }

  .user-details-content,
  .user-details-text {
    width: 100%;
    margin-bottom: 20px;
  }
}
